@import '../global/variables';

@for $i from 1 to 5 {
  .card-#{$i} {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 96 + $i;
    transform: translateX(-100%);
    &.active {
      animation-delay: $i * 100ms;
      animation-duration: 1.6s;
      animation-name: translateCard;
    }
  }
}
.card-1 {
  background-color: $color1;
}
.card-2 {
  background-color: $color3;
}
.card-3 {
  background-color: $color1;
}
.card-4 {
  background-color: $color4;
}

@keyframes translateCard {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
