{{> nav}}
{{> loader quarter=true}}
<div class="form-ctn">
    <div class="info-ctn">
        <div class="title">
            <h2>CONTACT <br>ME</h2>
            <div class="line"></div>
        </div>
        <div class="personal-info">
            <p>Personal contact info:</p>
            <p> +57 3008577684 - jesusd280147@gmail.com</p>
        </div>
    </div>
    <form id="main-form">
        <div class="ctn-form">
            <div class="ctn-form-group">
                <object data="/images/icons/name.svg" type="image/svg+xml"></object>
                <input type="text" placeholder="Name" id="name" maxlength="50">
            </div>
            <div class="ctn-form-group">
                <object data="/images/icons/email.svg" type="image/svg+xml"></object>
                <input type="email" placeholder="Email" id="email" maxlength="90">
            </div>
            <div class="ctn-form-group">
                <object data="/images/icons/phone.svg" type="image/svg+xml"></object>
                <input type="text" placeholder="Phone number" id="phone" maxlength="35">
            </div>
            <div class="ctn-form-group">
                <object data="/images/icons/message.svg" type="image/svg+xml"></object>
                <input type="text" placeholder="Message" id="message" maxlength="590">
            </div>
            <button>Send</button>
        </div>
    </form>
</div>

<object data="/images/abstract/triangle-1.svg" type="image/svg+xml" class="abstract-image abs-1"></object>
<object data="/images/abstract/triangle-2.svg" type="image/svg+xml" class="abstract-image abs-2"></object>
<object data="/images/abstract/equis-1.svg" type="image/svg+xml" class="abstract-image abs-3"></object>
<object data="/images/abstract/equis-2.svg" type="image/svg+xml" class="abstract-image abs-4"></object>
<object data="/images/abstract/circle-1.svg" type="image/svg+xml" class="abstract-image abs-5"></object>
<object data="/images/abstract/circle-2.svg" type="image/svg+xml" class="abstract-image abs-6"></object>
<object data="/images/abstract/triangle-2.svg" type="image/svg+xml" class="abstract-image abs-7"></object>
<object data="/images/abstract/circle-1.svg" type="image/svg+xml" class="abstract-image abs-8"></object>