{{> loader balls=true}}

<div class="ctn-music-player">
    <div class="play-circle play-arrow" id="play-behind">
        <img src="/images/icons/play-behind.png">
    </div>
    <div class="play-circle" id="play">
        <img src="/images/icons/play-triangle.png">
    </div>
    <div class="play-circle play-arrow" id="play-next">
        <img src="/images/icons/play-next.png">
    </div>
</div>

{{> nav}}

<div class="ctn-content-1">
    <div class="ctn-main">
        <div class="ctn-title">
            <h2>Jesús David<br> García</h2>
            <div class="line"></div>
            <p class="pc-text">full stack web developer and Programmer</p>
            <p class="mobil-text">full stack web developer<br> and Programmer</p>
            <div class="ctn-buttons">
                <a href="https://www.linkedin.com/in/jesús-david-garcía-vargas-3a5a13206" target="_blank"
                    class="linkedin-button">
                    <img src="/images/icons/linkedin.png" class="mainImage">
                    <p class="mainText">View LinkedIn</p>
                    <p class="secondText">Go</p>
                    <img src="/images/icons/right-arrow.png" class="secondImgage">
                </a>
                <a href="https://github.com/jesus2801" class="git-link" target="_blank">
                    <div class="git-button">
                        <img src="/images/icons/github.png" class="mainImage">
                        <p class="mainText">View GitHub</p>
                        <p class="secondText">Go</p>
                        <img src="/images/icons/right-arrow.png" class="secondImgage">
                    </div>
                </a>
            </div>
        </div>
        <object data="/images/main-image.svg" type="image/svg+xml" class="mainImg banner"></object>
    </div>
    <object data="/images/abstract/abs-1.svg" type="image/svg+xml" class="abs1"></object>
    <object data="/images/abstract/abs-2.svg" type="image/svg+xml" class="abs2"></object>
    <object data="/images/abstract/abs-3.svg" type="image/svg+xml" class="abs3"></object>
    <object data="/images/keyBoard.svg" type="image/svg+xml" class="keyBoard"></object>
    <object data="/images/coffee.svg" type="image/svg+xml" class="coffee"></object>
    <object data="/images/mouse.svg" type="image/svg+xml" class="mouse"></object>
</div>
<div class="ctn-content-2">
    <object data="/images/backgrounds/programmer.svg" type="image/svg+xml" class="programmer"></object>
    <div class="info-ctn">
        <img src="/images/avatar.png" class="avatar">
        <div class="info">
            <p>Hello!, My name is Jesús David García Vargas, I am a full stack web developer, I know different
                languages,
                libraries and frameworks. What I use most often is React, Node js (and all its derivatives), Typescript,
                Mysql, MongoDB and many more. I consider myself a great passionate about computers, robotics and music,
                passionate and proud for what I do, I am addicted to good practices, a positive attitude and every day I
                learn more from others and from myself.</p>
        </div>
    </div>
</div>

<div class="ctn-content-3">
    <div class="projects-title">
        <img src="/images/backgrounds/projects.png">
        <h2>PROJECTS</h2>
    </div>
</div>