{{> loader balls=true}}

<div class="ctn-music-player">
    <div class="play-circle play-arrow" id="play-behind">
        <object data="/images/icons/play-behind.svg" type="image/svg+xml"></object>
    </div>
    <div class="play-circle" id="play">
        <object data="/images/icons/play-triangle.svg" type="image/svg+xml"></object>
    </div>
    <div class="play-circle play-arrow" id="play-next">
        <object data="/images/icons/play-next.svg" type="image/svg+xml"></object>
    </div>
</div>

{{> nav}}

<div class="ctn-content-1">
    <div class="ctn-main">
        <div class="ctn-title">
            <h2>Jesús David<br> García</h2>
            <div class="line"></div>
            <p class="pc-text">full stack web developer and Programmer</p>
            <p class="mobil-text">full stack web developer<br> and Programmer</p>
            <div class="ctn-buttons">
                <a href="https://www.linkedin.com/in/jesús-david-garcía-vargas-3a5a13206" target="_blank"
                    class="linkedin-button">
                    <object data="/images/icons/linkedin.svg" type="image/svg+xml" class="mainImage"></object>
                    <p class="mainText">View LinkedIn</p>
                    <p class="secondText">Go</p>
                    <object data="/images/icons/right-arrow.svg" type="image/svg+xml" class="secondImgage"></object>
                </a>
                <a href="https://github.com/jesus2801" class="git-link" target="_blank">
                    <div class="git-button">
                        <object data="/images/icons/github.svg" type="image/svg+xml" class="mainImage"></object>
                        <p class="mainText">View GitHub</p>
                        <p class="secondText">Go</p>
                        <object data="/images/icons/right-arrow.svg" type="image/svg+xml" class="secondImgage"></object>
                    </div>
                </a>
            </div>
        </div>
        <object data="/images/main-image.svg" type="image/svg+xml" class="mainImg banner"></object>
    </div>
    <object data="/images/abstract/abs-1.svg" type="image/svg+xml" class="abs1"></object>
    <object data="/images/abstract/abs-2.svg" type="image/svg+xml" class="abs2"></object>
    <object data="/images/abstract/abs-3.svg" type="image/svg+xml" class="abs3"></object>
    <object data="/images/keyBoard.svg" type="image/svg+xml" class="keyBoard"></object>
    <object data="/images/coffee.svg" type="image/svg+xml" class="coffee"></object>
    <object data="/images/mouse.svg" type="image/svg+xml" class="mouse"></object>
</div>
<div class="ctn-content-2"></div>
<div class="ctn-content-3"></div>