{{> loader balls=true}}

<div class="ctn-music-player">
    <div class="play-circle play-arrow" id="play-behind">
        <img src="/images/icons/play-behind.svg">
    </div>
    <div class="play-circle" id="play">
        <img src="/images/icons/play-triangle.svg">
    </div>
    <div class="play-circle play-arrow" id="play-next">
        <img src="/images/icons/play-next.svg">
    </div>
</div>

{{> nav}}

<div class="ctn-content-1">
    <div class="ctn-main">
        <div class="ctn-title">
            <h2>Jesús David<br> García</h2>
            <div class="line"></div>
            <p>full stack web developer and Programmer</p>
            <div class="git-button">
                <img src="/images/icons/github.svg" class="mainImage">
                <p class="mainText">view GitHub</p>
                <p class="secondText">Go</p>
                <img src="/images/icons/right-arrow.svg" class="secondImgage">
            </div>
        </div>
        <img src="/images/main-image.svg" class="mainImg">
    </div>
    <img src="/images/abstract/abs-1.svg" class="abs1">
    <img src="/images/abstract/abs-2.svg" class="abs2">
    <img src="/images/abstract/abs-3.svg" class="abs3">
    <img src="/images/keyBoard.svg" class="keyBoard">
    <img src="/images/coffee.svg" class="coffee">
    <img src="/images/mouse.svg" class="mouse">
</div>
<div class="ctn-content-2"></div>
<div class="ctn-content-3"></div>