<div class="ctn-loader">
    <div class="wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <span>Loading</span>
    </div>
</div>
<div class="card-1 load-card"></div>
<div class="card-2 load-card"></div>
<div class="card-3 load-card"></div>
<div class="card-4 load-card"></div>

<div class="ctn-music-player">
    <div class="play-circle play-arrow" id="play-behind">
        <img src="/images/icons/play-behind.svg">
    </div>
    <div class="play-circle" id="play">
        <img src="/images/icons/play-triangle.svg">
    </div>
    <div class="play-circle play-arrow" id="play-next">
        <img src="/images/icons/play-next.svg">
    </div>
</div>
