.ctn-content-2 {
  // box-sizing: border-box;
  margin-top: 270px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .info-ctn {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    .avatar {
      width: 100px;
      border-radius: 100px;
      border: 6px solid $color4;
      margin-right: 50px;
    }
    .info {
      p {
        color: #fff;
        font-family: 'Comfortaa', cursive;
        line-height: 26px;
      }
    }
  }
  .programmer {
    width: 40%;
    margin-right: 30px;
  }
}
